# Compilados
*.class

# Carpetas de build
/build/
/dist/

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/nbactions.xml
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties

# Logs
*.log

# Temporales
*.tmp

# Sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/