# Compilados
*.class

# Carpetas de build
CineDB/build/
CineDB/dist/

# NetBeans
CineDB/nbproject/private/
CineDB/nbproject/build-impl.xml
CineDB/nbproject/genfiles.properties
CineDB/nbproject/project.properties

# Logs
*.log

# Temporales
*.tmp

# Sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/